body{
    background-color: black;
}
main{
    color: black;
    width: 1000px;
    margin: 0  auto;
}
form{
    color: aliceblue;
    background-color: rgb(47, 47, 54);
    border-radius: 20px;
    width: 500px;
    padding: 20px;
    margin: 80px auto;
}
.formulario{
}
form label{
    margin: 10px 0;;
    display: block;
    font-size: 20px;
    
}
.padrao{
    background-color: #ccc;
    display: block;
    margin: 0 0 30px;
    padding: 10px 10px;
    width: 480px;
    border-radius: 10px;
    border: 1px solid black;
}
form textarea{
    height: 150px;

}
#botao{
    width: 200px;
    margin: 20px auto;
    display: block;
    padding: 15px;
    border-style: none;
    border-radius: 10px;
    background-color:#ccc;
    transition: 0.5s all;
}
#botao:hover{
    transform: scale(1.05);
}
@media screen and (max-width:700px){
    main{
        margin:  50px 0;
        padding: 0;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    body{
        width: 100vw;
    }
    .formulario{
        width: 60vw;
    }
    form{
        width: 60vw;
        margin: 0;
    }
    .padrao{
        width: 50vw;
    }
}